<div class="review">

<%= form_for ([@mp3, @mp3.reviews.build]) do |review_form| %>


<%= review_form.label :rating %> (1-5)<br />
<%= review_form.text_field :rating %>

<p>
<%= review_form.submit %>
</p>


<% end %>


</div>
